* {
    box-sizing: border-box;
}
:root {
    --header-bg: #10375c;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
/* Common */
a {
    text-decoration: none;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.btn {
    text-align: center;
    display: inline-block;
    --height: 60px;
    min-width: 205px;
    height: var(--height);
    flex-shrink: 0;
    border-radius: 999px;
    background: #2e80ce;
    line-height: var(--height);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
/* Header */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--header-bg);
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    gap: 6px;
    /* justify-content: start; */
}
.navbar__list {
    display: flex;
}
.header-action__login,
.navbar__link {
    padding: 4px 21px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.navbar__link:hover,
.navbar_link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}
.navbar__link--active::before {
    top: -2px;
    left: -8px;
    position: relative;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    flex-shrink: 0;
    background: #fff;
}
.header-action {
    display: flex;
    align-items: center;
}
.header-action__signup {
    margin-left: 7px;
    --height: 44px;
    min-width: 104px;
}
/* Header-Hero  */
.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__content {
    flex-shrink: 0;
    width: 44%;
}
.hero__heading {
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
}
.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}
.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}
.hero__phone {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}
.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hero__img {
    width: 330px;
    height: 540px;
    flex-shrink: 0;
    border-radius: 6px;
    object-fit: cover;
}
.hero__img:first-child {
    position: relative;
    margin-right: -8px;
}
.hero__img:last-child {
    width: 210px;
    height: 410px;
}
