* {
    box-sizing: border-box;
}
:root {
    --header-bg: #10375c;
    --footer-font: "Open Sans", sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
/* Common */
.control {
    align-items: center;
    column-gap: 18px;
    display: flex;
}
.control-btn {
    color: #575f66;
    transition: 0.25s;
    border: 1px solid #575f66;
    background: #fff;
    border-radius: 50%;
    height: 36px;
    width: 36px;
}
.control-btn:hover {
    color: #fff;
    border-color: #2e80ce;
    background: #2e80ce;
    cursor: pointer;
}
.section-desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}
a {
    text-decoration: none;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.btn {
    text-align: center;
    display: inline-block;
    --height: 60px;
    min-width: 205px;
    height: var(--height);
    flex-shrink: 0;
    border-radius: 999px;
    background: #2e80ce;
    line-height: var(--height);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
/* Header */
.header {
    padding: 30px 0 110px;
    background: var(--header-bg);
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    gap: 6px;
    /* justify-content: start; */
}
.navbar__list {
    display: flex;
}
.header-action__login,
.navbar__link {
    padding: 4px 21px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.navbar__link:hover,
.navbar_link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}
.navbar__link--active::before {
    top: -2px;
    left: -8px;
    position: relative;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    flex-shrink: 0;
    background: #fff;
}
.header-action {
    display: flex;
    align-items: center;
}
.header-action__signup {
    margin-left: 7px;
    --height: 44px;
    min-width: 104px;
}
/* Header-Hero  */
.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__content {
    flex-shrink: 0;
    width: 44%;
}
.hero__heading {
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
}
.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}
.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}
.hero__phone {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}
.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hero__img {
    width: 330px;
    height: 540px;
    flex-shrink: 0;
    border-radius: 6px;
    object-fit: cover;
}
.hero__img:first-child {
    position: relative;
    margin-right: -8px;
}
.hero__img:last-child {
    width: 210px;
    height: 410px;
}
/* Service */
.service {
    padding: 170px 0;
}
.service__heading,
.service__desc {
    text-align: center;
}
.service__desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}
.service__row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service__img {
    width: 570px;
    height: 570px;
    flex-shrink: 0;
    border-radius: 12px;
    object-fit: cover;
}
/* Service-Item */
.service__item {
    padding: 21px 18px 20px 22px;
    display: flex;
    width: 470px;
    height: 128px;
    border-radius: 10px;
    background: #fff;
    /* box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05); */
}
.service__item:hover {
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}
.service__item:hover .service-item__icon {
    background: #2e80ce;
    color: #fff;
}
.service-item__body {
    margin-left: 19px;
}
.service-item__heading {
    line-height: 1.27;
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
}
.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    color: #10375c;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
    border-radius: 50%;
}
.service__btn {
    margin-top: 55px;
}
/* How It Work */
.work {
    padding: 100px 0 116px;
    background: #f7fbff;
}
.work__desc {
    width: 468px;
}
.work__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
.work-item {
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    background: #fff;
    padding: 43px 42px;
}
.work-item:hover {
    transform: translateY(-16px);
    /* Di chuyển lên trên 16px */
    border-color: #2e80ce;
}
.work-item:hover .work-item__more {
    color: #2e80ce;
}
.work-item__heading {
    margin-top: 18px;
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}
.work-item__desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.work-item__more {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.feature {
    padding: 170px 0;
}
.feature__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}
.feature__media {
    width: 48%;
}
.feature__images {
    position: relative;
    padding: 0 58px 121px 0;
}
.feature__img {
    width: 512px;
    height: 370px;
    flex-shrink: 0;
    border-radius: 6px;
    object-fit: cover;
}
.feature__img:last-child {
    right: 0;
    bottom: 0;
    position: absolute;
    width: 332px;
    height: 370px;
}

.feature__cta {
    margin-top: 38px;
}
/* Member */
.member {
    padding-bottom: 170px;
    text-align: center;
}
.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Chỉnh căn giữa với các mảng theo chiều ngang  */
}
.member__cta {
    margin-top: 38px;
}
.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 34px;
    margin-top: 70px;
}
.member-item__img {
    width: 262px;
    height: 290px;
    flex-shrink: 0;
    border-radius: 6px;
    object-fit: cover;
}
.member-item__heading {
    margin-top: 12px;
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
.member-item__title {
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85; /* 185.714% */
}
.member__control {
    margin-top: 38px;
    justify-content: center;
}

/* Install */

.install__inner {
    border-radius: 4px;
    background: #2e80ce;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}
.install__img {
    display: block;
    margin-top: -95px;
    width: 284px;
    height: 522px;
    flex-shrink: 0;
    object-fit: cover;
}
.install__content {
    margin-left: 160px;
}
.install__heading {
    max-width: 489px;
    color: #fff;
}

.install__desc {
    color: #fff;
}
.install__row {
    display: flex;

    column-gap: 28px;
    margin-top: 38px;
}
/* News */
.news {
    padding: 170px 0;
}
.news__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.news__heading {
    max-width: 470px;
}
.news__more {
    display: inline-block;
    margin: 28px 0;
    color: #10375c;
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.55; /* 155.556% */
    text-decoration-line: underline;
}

.news__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    max-width: 570px;
}
.news-item {
    transition: 0.25;
    width: 270px;
    height: 375px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #e8ebee;
    background: #fff;
}
.news-item:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
    border: none;
    transform: translateY(-16px);
}
.news-item:hover .news-item__more {
    color: #2e80ce;
}
.news-item__body {
    padding: 18px 22px 21px;
    transition: 0.25;
}
.news-item__img {
    width: 270px;
    height: 172px;
    flex-shrink: 0;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
}
.news-item__heading {
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6262; /* 162.5% */
}
.news-item__desc {
    margin-top: 10px;
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71; /* 171.429% */
}
.news-item__more {
    display: inline-block;
    color: #10375c;
    margin-top: 12px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}
/* Appointment */
.appointment {
    margin-bottom: 170px;
}
.appointment__inner {
    padding: 100px 179px;
    text-align: center;
    background: #f6fbff;
    border-radius: 4px;
}
.appointment__heading::after {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    content: "";
    width: 136px;
    height: 2px;
    flex-shrink: 0;
    display: block;
    background: #2e80ce;
}
.appointment__heading {
    position: relative;
    padding-bottom: 18px;
}
.appointment__desc {
    display: inline-block;
    max-width: 617px;
    font-size: 1.6rem;
    line-height: 1.75;
}
.appointment__btn {
    margin-top: 38px;
}
/* Footer */
.footer {
    background: #10375c;
    font-family: var(--footer-font);
}
.footer__inner {
    padding: 100px 0 42px;
}
.footer__row {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap:78px;
}
.footer__list {
    margin-bottom: 28px;
}
.footer__heading {
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}
.footer-desc {
    margin-top: 20px;
    color: #a9b3bb;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 185.714% */
}
.footer-desc__col1{
    max-width: 336px;
}
.footer-desc__col2{
    max-width: 273px;
    font-size:1.4rem;
    line-height: 1.85; /* 185.714% */

}


.footer__link {
    margin-top: 10px;
    color: #a9b3bb;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
    white-space: nowrap;
}
.footer__link:hover {
    text-decoration: underline;
}
.footer__social {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 28px;
}
.footer__social-btn {
    transition: 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
    height: 32px;
    width: 32px;
    color: #2e80ce;
}
.footer__social-btn:hover {
    color: #fff;
    background: #2e80ce;
}
.footer-form {
    margin-top: 10px;
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.footer-form__input {
    color: #fff;
    outline: none;
    padding: 0 10px;
    width: 212px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #406181;
    background: transparent;
}
.footer-form__input::placeholder {
    color: #9ca8b1;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}
.footer-form__submit {
    --height:46px;
    min-width: 108px;
    height: var(--height);
    flex-shrink: 0;
    border-radius: 4px;
    font-size: 1.4rem;
}
.footer__copyright{
    border-top: 1px solid #406181;
    padding-top: 28px;
}
.footer__copyright-text{
    text-align: center;
    color: #AAB3BA;
font-size: 1.4rem;
font-weight: 400;
line-height: 1.85; /* 185.714% */
}
